<h1>Puzzles#new</h1>

<h1>Add a new puzzle!</h1>

<%= form_for @puzzle, html: {multipart: true} do |f| %>

	<div>
		<%= f.label :image %>
		<%= f.file_field :image %>
	</div>

	<%= f.submit "Add new puzzle!" %>

<% end %>
